<footer>
    <div class="footer">
      <div class="row" style="flex-direction: row;">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      
      <div class="row">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/exams">Exam</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </div>
      
      <div class="row">
        ProctorHat || Copyright © 2021 - All rights reserved.
      </div>
    </div>
  </footer>
  
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyCZcGEuHYbLhS2tFqZgCEE8cP6255Df8sA",
        authDomain: "hackathon-td-e4281.firebaseapp.com",
        projectId: "hackathon-td-e4281",
        databaseURL: "https://hackathon-td-e4281-default-rtdb.firebaseio.com/",
        storageBucket: "hackathon-td-e4281.appspot.com",
        messagingSenderId: "564313977129",
        appId: "1:564313977129:web:e4aad11ae3c18b67038738",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var database = firebase.database();
    </script>
    <script type="text/javascript" src="/js/<%= typeof page !== 'undefined' ? page : '' %>.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="./js/nav.js"></script>
  </body>
</html>
