<%- include("partials/header") %> 
<section id="about">
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">ProctorHat leverages automation and live online remote proctoring using AI to deliver innovation, quality and price leadership at scale.</p>
                        <p class="aboutus-text">Get the credit you deserve, and emerge from a level playing field with a more valuable degree. Having academic integrity is important because it provides value to your degree.</p>
                        <a class="aboutus-more" href="/contact">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img src="/assets/logo.svg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fas fa-diagnoses icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Test at your convenience</h4>
                                    <p>Take your exam from the comforts of home, with no commuting or advanced scheduling required – available anytime, anywhere, on-demand.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fas fa-cogs icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Automated Proctorless</h4>
                                    <p>Remove the manual element for a less intrusive, more comfortable online proctoring experience. Helps utilizes an automated, proctorless approach to online course exam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fas fa-building icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>Automated remote online proctoring offers consistent results at-scale, which translates to a more affordable world class solutions.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer") %> 