<%- include("partials/header") %> 
<section id="exams">
    <div class="container-main">
        <div class="title-main">
            <span id="blur">All exams</span>
            <h3 id="heading">Exams</h3>
        </div>
        <div class="exams">
            <div class="exam-1 exam">
                <span>1.</span>
                <span>Mock Test 1</span>
                <span class="title"> - The Basics of C Language</span>
                <!-- <a href="/exams/exam1" class="btn-start" id="test1" style="pointer-events: none">Submitted <i class="far fa-check-circle"></i></a> -->
                <a href="/exams/exam1" class="btn-start" id="test1">Start Test <i class="far fa-play"></i></a>
            </div>
            <div class="exam-2 exam">
                <span>2.</span>
                <span>Mock Test 2</span>
                <span class="title"> - Loops</span>
                <a href="/exams/exam2" class="btn-start"id="test2">Start Test <i class="far fa-play"></i></a>
            </div>
            <div class="exam-3 exam">
                <span>3.</span>
                <span>Mock Test 3</span>
                <span class="title"> - Array Concepts</span>
                <a href="/exams/exam3" class="btn-start"id="test3">Start Test <i class="far fa-play"></i></a>
            </div>
        </div>

    </div>
</section>
<%- include("partials/footer") %> 