<%- include("partials/header") %> 
<section id="home">
  <div class="container mb-4" id="first">
    <div class="section">
        <div class="column">
          <h2>Assessment Platform with Remote Proctoring!</h2>
              <h4>Our unique and one-of-a-kind assessment tool helps you assess yourself better. That is why we have tailored our assessment
              kits to help you hit the right spot for improving yourself and getting stronger to face the challenges ahead.
              We have always believed in providing equal opportunities for all. This is where our remote proctoring 
              comes to play. Through our remote proctoring technology, we have ensured that every candidate gets an
              equal opportunity to ace the test. Use of unfair means is strictly prohibited. Neither do we support
              nor tolerate them. Our remote proctoring intelligence detects eye movement, lip movement, and the 
              of barred gadgets like smartphones to ensure that the candidate does not cheat in the test.
              The candidate can rest assure while giving the test that there won't be any use of unfair
              means and that he/she will be able to compete in a fair and friendly competition.</h4>     
        </div>
        <div class="column px-3">
            <img src="/assets/6.svg" class="img-responsive">
        </div>
    </div>
  </div>
  <hr>

  <div class="container mt-3">
    <div class="section" style="flex-direction: row-reverse;">
       <div class="column">
              <h2 class="mb-4">Highest level of Trusted Exam Integrity!</h2>
              <h4> 
                <ul>
                  <li>Browser lock</li>
                  <li>Smart Prevention</li>
                  <li>Easy to use</li>
                </ul>
              </h4>
              <h4>
                <ul style="left: 80px;">
                  <li>Fully Automated</li>
                  <li>High Quality</li>
                  <li>Fast Results</li>
                </ul>
              </h4>
              <h4>
                <ul>
                  <li>Best Value</li>
                  <li>Cost Effective</li>
                  <li>90% Accuracy</li>
                </ul>
              </h4>
        </div>
        <div class="column px-3">
            <img src="/assets/4.svg" alt="">
        </div>
    </div>
         
  </div>
  <hr>
  <div class="container">
    <div class="section">
       <div class="column">
              <h2>Your virtual school, in minutes!</h2>
              <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nulla explicabo suscipit aspernatur placeat rerum accusamus cupiditate quam magni iure impedit culpa earum modi enim fuga dolor, vero assumenda consequuntur consequatur perferendis neque officiis ducimus eius. Libero, fugiat in? Sequi repellat incidunt temporibus velit illo dignissimos placeat dicta quaerat, similique eius! Deleniti voluptas blanditiis nisi, voluptates dolore enim perspiciatis ipsam!</h4>
        </div>
        <div class="column px-3">
            <img src="/assets/7.svg" alt="">
        </div>
    </div>
         
  </div>
  <hr>
</section>
<%- include("partials/footer") %> 
