<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProctorHat</title>
    <link rel="icon" href="assets/logo.svg">
    <link rel="stylesheet" href="./css/login2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
</head>
<body>
    <img src="assets/Wave.png" alt="" id="bg">
    <div class="form">
        <div class="thumbnail"><img src="assets/logo.svg" alt="logo"/></div>
        <p id="error-msg"></p>
        <form class="register-form" id="register-form">
           <input type="text" placeholder="Name" id="name"/>
           <input type="email" placeholder="Email Address" id="email"/>
           <input type="text" placeholder="Registration Number" id="regno"/>
           <input type="password" placeholder="Password" id="password" />
           <button id="signupbtn" type="submit">Sign Up</button>
           <p class="message">Already registered? <a href="#" id="reset-reg">Sign In</a></p>
        </form>
        <form class="login-form" id="login-form">
           <input type="email" placeholder="Email address" id="eimp"/>
           <input type="password" placeholder="Password" id="pimp"/>
           <button id="loginbtn" type="submit">
               Sign In
                <!-- <div class="loader" id="loader"></div>  -->
            </button>
           <p class="message">Not registered? <a href="#" id="reset-log">Create an account</a></p>
        </form>
     </div>
     <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
     <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
     <script>
       // Your web app's Firebase configuration
       var firebaseConfig = {
         apiKey: "AIzaSyCZcGEuHYbLhS2tFqZgCEE8cP6255Df8sA",
         authDomain: "hackathon-td-e4281.firebaseapp.com",
         projectId: "hackathon-td-e4281",
         databaseURL: "https://hackathon-td-e4281-default-rtdb.firebaseio.com/",
         storageBucket: "hackathon-td-e4281.appspot.com",
         messagingSenderId: "564313977129",
         appId: "1:564313977129:web:e4aad11ae3c18b67038738",
       };
       // Initialize Firebase
       firebase.initializeApp(firebaseConfig);
       var database = firebase.database();
     </script>
     <script src="/js/login2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        
        $('.message a').click(function(){
            errorMsg.style.display = "none";
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
            $(".form").toggleClass("isVisible");
            
        });
        $("#reset-reg").click(function(){
            $("#register-form").trigger("reset");
        });
        $("#reset-log").click(function(){
            $("#login-form").trigger("reset");
        });
    </script>
</body>
</html>