#exams {
  background: rgb(241, 241, 241);
  min-height: 90vh;
  padding-top: 100px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}
.modal ul {
  position: relative;
  left: 18px;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  padding: 20px;
}
.modal-content i {
  font-size: 70px;
  color: #6b5cff;
}
.close {
  color: #aaaaaa;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#exams .container-main {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}
#exams .container-main .exams {
  width: 100%;
}
span#blur {
  color: gray;
}
h3 {
  position: relative;
  margin-bottom: 40px;
}
h3#heading::after {
  background: #6b5cff none repeat scroll 0 0;
  bottom: -7px;
  content: "";
  height: 1.5px;
  left: 0;
  position: absolute;
  width: 54px;
}
#exams hr {
  margin: 0px 0 40px;
}
#exams .container-main .exams .exam {
  position: relative;
  background: white;
  height: 60px;
  padding: 10px 15px;
  margin: 20px 0;
}

#exams .container-main .exams .exam span {
  position: relative;
  top: 5px;
}
#exams .container-main .exams .exam .title {
  position: absolute;
  top: 50%;
  transform: translateY(-15px);
  margin-left: 10px;
}
#exams .container-main .exams .exam a {
  text-decoration: none;
  float: right;
  background: #6b5cff;
  padding: 8px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 120px;
  text-align: center;
}
#exams .container-main .exams .exam a.submitted {
  background: transparent;
  color: #6b5cff;
  border: 1px solid #6b5cff;
  padding: 5px;
}
#exams .container-main .exams .exam a:hover {
  background: #7565ff;
}
#exams .container-main .exams .exam a i {
  font-size: 13px;
}
@media (max-width: 720px) {
  #exams .container-main {
    max-width: 95%;
  }
  .modal-content {
    width: 90%;
  }
}
@media (max-width: 520px) {
  #exams .container-main .exams .title {
    display: none;
  }
}
