@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
#home {
  background: rgb(241, 241, 241);
}
#home .container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .section {
  display: flex;
  gap: 60px;
}
#home .section h2 {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}
#home .section h4 {
  text-align: justify;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #4e4e4e;
}
#home .section ul {
  position: relative;
  left: 40px;
}
#home .section ul li {
  font-size: 18px;
  margin: 5px 0;
  list-style: circle;
}
#home .section img {
  position: relative;
  top: 20px;
  width: 400px;
  height: auto;
}
hr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: #000;
}
@media (max-width: 992px) {
  #home .container {
    /* max-width: 95%; */
    margin-bottom: 70px;
    margin-top: 120px;
    /* padding: 20px; */
  }
  #home .container .section {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  #home {
    padding: 90px 0px;
  }

  #home .section {
    flex-direction: column-reverse !important;
  }
  #home .section img {
    width: 350px;
  }
  #home .container h1 {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 27px;
  }
  h4 {
    font-size: 20px !important;
  }
  hr {
    width: 70%;
  }
}
#home .container h1 {
  font-family: "Ubuntu", sans-serif !important;
}
#home .container h4 {
  font-weight: 300 !important;
}
#home #first {
  margin-top: 0 !important;
}
@media (max-width: 475px) {
  #home .column {
    padding: 0 5vw;
  }
  #home .section img {
    width: 320px;
  }
}
@media (min-width: 768px) {
  #home #first {
    padding-top: 100px;
  }
}
