#contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 300px;
  position: relative;
  transition: all 1s ease-in-out;
  transition: 0.5s;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  font-family: Tahoma, Arial, sans-serif;
  margin-top: 10px;
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  /* .box {
      width: 70%;
    } */
  .popup {
    width: 70%;
  }
}

#contact .container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 95%;
  min-height: 480px;
  min-width: 370px;
  padding: 0;
}
#contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#heading {
  position: relative;
}
#heading::after {
  background: #6b5cff none repeat scroll 0 0;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 31%;
  position: absolute;
  width: 54px;
}
#contact .form-container {
  display: flex;
}
#contact .left-container {
  flex: 1;
  height: 480px;
  background-color: #6b5cff;
}
#contact .right-container {
  display: flex;
  flex: 1;
  height: 460px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
#contact .left-container {
  display: flex;
  flex: 1;
  height: 480px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#contact .left-container p {
  font-size: 0.9rem;
}
#contact .right-inner-container {
  width: 80%;
  height: 80%;
  text-align: center;
  /* padding-left: 30px; */
}
#contact .left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}
#contact input,
#contact textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}
#contact input:focus,
#contact textarea:focus {
  outline: 1px solid #6b5cff;
}
#contact button {
  margin-top: 10px;
  border-radius: 30px;
  border: 1px solid #6b5cff;
  background-color: #6b5cff;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  transition: 0.3s;
}
#contact button:hover {
  opacity: 0.9;
}
@media only screen and (max-width: 600px) {
  #contact .left-container {
    display: none;
  }
  #contact .lg-view {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  #contact .sm-view {
    display: none;
  }
}
#contact form p {
  text-align: left;
}
#contact .social-container a {
  text-decoration: none;
}
#contact .social-container i {
  margin: 0 5px;
  color: rgb(197, 197, 197);
}
