/* Import fonts from google font */
@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: var(--background1);
  /*background: var(--mango-gradient);*/
}

/* Variables */
:root {
  --primary-gradient: linear-gradient(to right, #46328d, #9c2b93);
  --background1: wheat;
  --mango-gradient: linear-gradient(to right, #ffa751, #ffe259);
  --text-color: #f7f9f9;
  --Montserrat: "Montserrat", cursive;
  --Lobster: "Lobster", cursive;
  --pacifico: "Pacifico", cursive;
  --kalam: "kalam";
  --take: "take";
  --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
  --border-color: rgba(0, 0, 0, 0.329);
}

.loginform {
  position: relative;
  top: 15%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  max-height: 610px;
}

.container .panel {
  width: 60%;
  height: 72%;
  box-shadow: var(--primary-gradient);
}

.row {
  border-radius: 40px;
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100%;
  background: #fff;
  box-shadow: var(--primary-shadow);
}

.liquid {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: url("../assets/Wave.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.liquid h2 {
  text-align: left;
  padding: 0 2rem;
  color: whitesmoke;

  margin-top: 10px;
  letter-spacing: 4px;
}
.liquid h2 a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.4s ease;
}

.liquid h2 a:hover {
  opacity: 0.5;
}

.owl-carousel {
  width: 100%;
  height: 320px;
  max-height: 330px;
}

.owl-carousel .owl-item .login_img {
  float: right;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 3rem;
}

.owl-dots {
  position: fixed;
  padding: 3rem 1.2rem;
  display: flex !important;
  flex-direction: column;
  transform: translateY(-240px);
}

.owl-dots button {
  border-radius: 5rem;
  margin: 0.3rem 0;
}

.owl-dots button span {
  background: var(--text-color) !important;
  margin: 0rem 0.6rem !important;
}

.owl-dots .active {
  border: 1px solid #ffd765 !important;
}

.owl-dots .active span {
  background: #ffd765 !important;
  margin: 0.3rem 0.5rem !important;
}

/* Second Column Login */

.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4rem;
  background: var(--primary-gradient); /*#2b5876;*/
  color: whitesmoke;
  font-size: 0.7rem;
  font-family: var(--Montserrat);
  cursor: pointer;
}

.btn:hover {
  box-shadow: var(--primary-shadow);
}

.login .btn-signup,
.btn-login {
  background: var(--primary-gradient);
  float: right;
  margin: 1rem;
}
form .btn-signup {
  background: var(--primary-gradient);
  float: right;
}
.titles {
  margin-bottom: 2.2rem;
}

form {
  height: 55%;
  max-height: 280px;
  margin-top: 5rem;
}

form h3,
form h6 {
  font-family: var(--Montserrat);
  padding: 0;
  margin: 0;
  padding-left: 3rem;
}

form h6 {
  font-family: var(--Lobster);
  color: #444444d2;
}

form .form-group {
  text-align: left;
  border: 1px solid var(--border-color);
  margin-top: 0.9rem;
  margin-right: 2rem;
  border-radius: 3rem;
}

form .form-group .form-input {
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  font-family: var(--Montserrat);
  font-size: 0.9rem;
  overflow: hidden;
}

form input:focus {
  outline: none;
}

form .input-icon {
  display: inline;
  color: var(--border-color);
  display: inline;
  color: var(--border-color);
  position: relative;
  left: 10%;
}
form .input-icon img {
  width: 1em;
  height: 1em;
}
form .btn-login {
  float: none;
  padding: 0.8rem 5rem;
  margin-left: 2rem;
}
form .btn-signup {
  float: none;
  padding: 0.8rem 5rem;
  margin-left: 2rem;
}
.titles1 {
  position: absolute;
  top: 15px;
}
#login-page {
  position: absolute;
  right: 21%;
  top: 15px;
}
#signupbtn {
  position: relative;
  top: 20px;
}
form .agrees {
  color: var(--border-color);
  font-family: var(--Lobster);
  padding-right: 10px;
  margin-top: 10px;
}
