<%- include("partials/header") %> 
<section id="profile">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container ">
            <div class="col-xl-6 col-md-12" id="card">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="assets/profile.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600" id="fname">-</h6>
                                <p>Student</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="font-size: 19px;">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email Address</p>
                                        <h6 class="text-muted f-w-400" id="email">-</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Registration Number</p>
                                        <h6 class="text-muted f-w-400" id="regno">-</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 b-b-default f-w-600" style="font-size: 19px;">Additional Info</h6>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p class="m-b-10 f-w-600">User ID</p>
                                        <h6 class="text-muted f-w-400" id="userid">-</h6>
                                    </div>
                                    <div class="col-sm-2">
                                        <!-- <p class="m-b-10 f-w-600">Most Viewed</p>
                                        <h6 class="text-muted f-w-400">Dinoter husainm</h6> -->
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<%- include("partials/footer") %> 
    
